:root {
    --darkest-color: #05222F;
    --middark-color: #1777A4;
    --brand-blue: #2199EB;
    --brand-purple: #7F3FEF;
    --brand-darkbrown: #191D21;
    --brand-midbrown: #394145;
    --midlight-color: #363636;
    --lightest-color: #E8F6FD;
    --lightgray: #EAEFF1;
    --generaltextcolor: #454544;
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
a {
    color: var(--hyperlinkcolor);
}
body {
    color: var(--darkest-color);
    font-family: 'Manrope', helvetica, helvetica neue, Segoe UI, sans-serif;
    font-weight: 100 !important;
    background: #F8F8F6;
    color: var(--generaltextcolor);
    text-align: left;
    margin: auto;
    font-size: 21px;
}
.mainSiteBrand {
    margin-top: 50px;
    color: White;
    display: block;
    color: #2199EB;
    font-weight: 700;
    font-size: 2em;
}
.panelOne {
    border: solid 3px var(--middark-color);
    padding: 15px;
}
.coinTickerButton {
    background: #363636;
    border: solid 2px #0077FF;
    border-radius: 5px;
    padding: 5px;
}
#searchbar {
    border: solid 4px var(--brand-blue);
    border-radius: 5px;
}
#searchbutton {
    background: var(--brand-blue);
    border-radius: 5px;
}
.lighter {
    opacity: 0.6;
}
searchelement {
    height: 80px;
    border-radius: 5px;
    min-height: 70px;
    padding: 13px;
    font-size: 0.9em;
}
.coinPanel1 {
    border-radius: 5px;
    border: solid 1px rgba(255, 255, 255, 0.2);
    padding: 15px;
    font-size: 1.1em;
    color: #2B5CAB;
    display: inline;
    max-height: 30px;
}
.homesection {
    border-top: solid 4px #E3E6EC;
    border-bottom: solid 4px #E3E6EC;
    font-size: 1.3em;
    font-weight: 200;
    padding: 30px;
    transition: 0.3s;
}

.homesection:hover{
    background: rgba(255,255,255,0.3);
}
.outermostcontainer {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 800px;
}
.footerrow {
    text-align: left;
}
.projectnamelink {
    font-weight: 700;
    border-bottom: solid 2px;
    display: inline;
}
.projectdescription {}
@media all and (max-width: 1690px) {}
@media all and (max-width: 1280px) {}
@media all and (max-width: 980px) {}
@media all and (max-width: 736px) {}
@media all and (max-width: 480px) {}