:root {
    --darkest-color: #05222F;
    --middark-color: #1777A4;
    --obilo-blue: #2781ff;
    --obilo-gold: #ffd213;
    --brand-purple: #7F3FEF;
    --midlight-color: #363636;
    --lightest-color: #E8F6FD;
    --lightgray: #EAEFF1;
    --generaltextcolor: #2f2f2f;
    --lightbordergray: #E3E6EC;
}

@font-face {
    font-family: mpluscode;
    src: url('fonts/Mplus1Code-Regular.ttf');
    text-transform: lowercase;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    color: var(--hyperlinkcolor);
}

a.hover {
    border-bottom: solid 2px var(--obilo-gold);
}

body {
    color: var(--darkest-color);
    font-family: 'Manrope', helvetica, helvetica neue, Segoe UI, sans-serif;
    font-weight: 100 !important;
    background: #fbfbfb;
    color: var(--generaltextcolor);
    text-align: left;
    margin: auto;
    font-size: 20px;
}

header {
    text-align: center;
}

pre>code {
    font-family: mpluscode, "Sans Mono", "Consolas", "Courier", monospace;
}

.headerlogo {
    width: 210px;
    margin-top: 40px;
    margin-bottom: 20px;
    transition: 0.5s;
    margin: 0 auto;
    margin-top: 50px;
}

.headerlogo:hover {
    opacity: 0.9;
}

.headersubtext {
    font-family: squareone;
    color: var(--obilo-blue);
    margin-top: -15px;
    opacity: 0.75;
    font-size: 0.9em;
    margin-bottom: 15px;
}

.navbar {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 10px;
}

.navbar>a {
    text-decoration: none;
    transition: 0.17s;
    padding-right: 13px;
    padding-left: 13px;
    border-bottom: solid 4px transparent;
    padding-bottom: 7px;
    font-weight: 300;
}

.navbar>a:hover {
    border-bottom: solid 4px #ffd213;
    font-weight: 500;
    color: var(--obilo-blue);
    padding-right: 16px;
    margin-right: 10px;
}

h4.introduction {
    color: #575757;
}

.favoritetechnologies {
    display: flex;
    margin: 0 auto;
    padding: 17px;
    border: dashed 1px rgb(203, 203, 203);
    flex-direction: row;
    align-items: center;
    margin-top: 17px;
    justify-content: space-around;
}

.favoritetechnologies>i {
    color: var(--obilo-blue);
}

.blueicon {
    color: var(--obilo-blue);
    opacity: 0.7;
}

.blueicon:hover {
    opacity: 1;
}

.panelOne {
    border: solid 3px var(--middark-color);
    padding: 15px;
}

.stripedyellow {
    background: url(img/background_yellowstripes1.png);
    min-height: 15px;
    height: 15px;
    display: block;
    padding: 0px;
}

.lighter {
    opacity: 0.65;
}

.lightest {
    opacity: 0.35;
}

.lighter {
    opacity: 0.6;
}

.footerbox {
    /* border-top: solid 4px #E3E6EC; */
    border-bottom: solid 13px #e3e6ec88;
    font-size: 0.8em;
    font-weight: 300;
    padding: 30px;
    padding-left: 0px;
    transition: 0.2s;
    text-align: left;
    color: #a1a1a1;
}

.footersocialbox {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: dotted 1px rgb(210, 210, 210);
    border-radius: 7px;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-content: center;
}

.sendmessagebutton {
    display: block;
    color: white;
    padding: 20px;
    border: none;
    border-radius: 7px;
    background-color: var(--obilo-blue);
    margin-top: 10px;
}

.sendmessagebutton:hover {
    background: url(img/background_yellowstripes1.png);
}

.socialboxcontainer {
    display: flex;
    flex-direction: row;
    max-width: 600px;
}

.outermostcontainer {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 850px;
    border-left: dotted 3px var(--lightbordergray);
    border-right: dotted 3px var(--lightbordergray);
    padding-left: 21px;
    padding-right: 21px;
}

.footerrow {
    text-align: left;
}

.lastupdatednote {
    border-bottom: solid 2px var(--lightbordergray);
    color: rgb(117, 117, 117);
    border-radius: 0px;
    padding: 7px;
    font-size: 0.5em;
    margin-bottom: 17px;
    margin-top: 17px;
}

span.technologiesused {
    border-top: dotted 2px #1475e430;
    border-radius: 0px;
    height: 22px;
    display: inline-block;
    font-size: 0.8em;
    padding: 3px;
    padding-left: 7px;
    padding-right: 7px;
    opacity: 0.9;
    transition: 0.2s;
    display: block;
    font-family: mpluscode;
    text-transform: uppercase;
    margin-top: 17px;
    color: rgb(120, 120, 120);
}

.lightbigheader {
    font-weight: 700;
    color: #b0b0b0ac;
    font-family: 'Manrope', helvetica, helvetica neue, Segoe UI, sans-serif;
    text-transform: lowercase;
    font-size: 2.8em;
    letter-spacing: -2px;
    margin-bottom: 20px;
    line-height: 55px;
    border-bottom: solid 3px rgba(219, 219, 219, 0.604);
    padding-bottom: 13px;
}

label {
    display: block;
    margin-top: 17px;
    font-weight: 400;
    color: gray;
    font-size: 0.9em;
}

.contactformfield {
    display: block;
    border-radius: 7px;
    border-left: solid 1px var(--obilo-gold);
    border-right: solid 1px var(--obilo-gold);
    border-top: solid 1px var(--obilo-gold);
    border-bottom: solid 4px var(--obilo-gold);
    height: 50px;
    font-size: 1.1em;
    padding: 13px;
    width: 500px;
}

.contactformtextarea {
    display: block;
    border-radius: 7px;
    border-left: solid 1px var(--obilo-gold);
    border-right: solid 1px var(--obilo-gold);
    border-top: solid 1px var(--obilo-gold);
    border-bottom: solid 4px var(--obilo-gold);
    height: 120px;
    font-size: 1.1em;
    padding: 11px;
    width: 500px;
    height: 400;
}

img.artpicthumb {
    width: 160px;
    height: 160px;
    padding: 3px;
    border: 2px solid #EEF2F1;
    margin: 7px;
}

a.projectname {
    font-weight: 700;
    border: none;
    display: block;
    text-decoration: none;
    color: #1475e4;
    margin-top: 10px !important;
    transition: 0.2s;
    font-size: 1.4em;
    margin-bottom: 0px;
}

a.projectnamelink {
    font-weight: 400;
    border-bottom: solid 2px #1475e448 !important;
    display: block;
    text-decoration: none;
    color: #1475e4;
    margin-top: 3px !important;
    transition: 0.2s;
    font-size: 0.75em;
    margin-bottom: 0px;
}

a.projectnamelink:hover {
    font-weight: 700;
    border-bottom: solid 2px #ffa310de !important;
    margin-left: 10px;
    background-color: #ffa31009;
}

.projectdescription {
    font-weight: 300;
    font-size: 0.8em;
    padding: 0px;
    margin: 0;
    margin-bottom: 14px;
    border-bottom: none;
}

.panelbox {
    padding: 0px;
    border-radius: 0px;
    margin-top: 20px;
    box-shadow: 0 6px 8px rgba(85, 102, 119, .03), 0 1px 1px rgba(85, 102, 119, .4), 0 8px 12px rgba(58, 193, 203, .1);
    border-top: solid 1px var(--obilo-gold);
    border-bottom: none;
}

.panelboxheader {
    background-color: #F8F9FA;
    padding: 20px;
}

.panelboxcontent {
    background-color: #FFFFFF;
    padding: 20px;
    font-size: 1.3em;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

span.colorboxheader {
    font-weight: 300;
    font-size: 1.3em;
    text-transform: uppercase;
    display: block;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #818181;
}

/* .notify {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, .6);
    text-align: center;
    background: white;
    overflow: hidden;
    box-sizing: border-box;
    transition: height .2s;
    font-size: 1.2em;
    text-transform: uppercase;
    padding: 25px;
    border-bottom: solid 8px #FFD73D;
    display: none;
    padding-bottom: 20px;
} */

#notifyType:before {
    display: block;
    margin-top: 0px;
}

.active {
    height: 60px;
}

span.pageheader {
    font-weight: 300;
    color: #b2b2b2;
    font-size: 2.6em;
    margin-top: 20px;
}

.parallaxsubtitle {
    font-size: 1em;
    margin-top: 5px;
}

.parallax {
    border-top: solid 4px #E3E6EC;
    font-weight: 200;
    padding: 40px;
    transition: 0.3s;
    border-top: solid 4px #E3E6EC;
    border-bottom: solid 4px #E3E6EC;
    font-size: 1.5em;
    font-weight: 300;
    transition: 0.3s;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
    margin-top: 25px;
}

.homepageparallax {
    background-image: url("img/background_graphpaper1.jpg");
    color: #2a2a2a;
}

.rubyparallax {
    border-top: solid 4px #E3E6EC;
    border-bottom: solid 4px #E3E6EC;
    background-image: url("img/ruby_rails_background_cheetsheat.png");
    color: rgba(255, 255, 255, 0.813);
}

span.explanationabovecodeblock {
    display: block;
    font-size: 1.1em;
    color: #333;
    font-weight: 300;
    margin-top: 40px;
    border-top: solid 3px #FFCC33;
    padding: 10px;
    padding-left: 0px;
    margin-bottom: -25px;
}

/* FIRST BREAKPOINT */
@media all and (max-width: 480px) {

    .outermostcontainer {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        max-width: 450px;
        border-left: dotted 2px var(--lightbordergray);
        padding-left: 21px;
    }

    body {
        width: 470px;
        max-width: 470px;
    }

    .html {
        max-width: 500px;
    }

    .pagecontainer {
        max-width: 480px;
    }

    .homesection {
        max-width: 95wh;
    }

    .panelbox {
        padding: 0px;
        border-radius: 0px;
        margin-top: 20px;
        box-shadow: 0 6px 8px rgba(85, 102, 119, .03), 0 1px 1px rgba(85, 102, 119, .4), 0 8px 12px rgba(58, 193, 203, .1);
        font-size: 23px;
        max-width: 90vw;
    }



    h1 {
        font-size: 2em;
    }

    .headersubtext {
        border-bottom: dotted 1px var(--obilo-blue);
        font-size: 0.7em;
    }

    .navbar {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        border-bottom: solid 3px rgb(210, 210, 210);
    }

    .navbar>a {
        text-decoration: none;
        transition: 0.17s;
        padding-right: 15px;
        border-bottom: solid 4px transparent;
        padding-bottom: 5px;
        margin-bottom: 5px;
        height: 30px;
        margin-top: 12px;
        border-bottom: solid 3px rgba(229, 229, 229, 0.779);
        font-weight: 300;
        max-width: 250px;
    }

    .parallax {
        width: 97vw;
        margin-left: -20px;
        font-size: 24px;
    }

    .homepageparallax {
        border-bottom: solid 7px var(--obilo-blue);
    }

}

/* SECOND BREAKPOINT */
@media all and (max-width: 736px) {}

/* THIRD BREAKPOINT */
@media all and (max-width: 980px) {

    .outermostcontainer {
        width: 750px;
    }
}

/* FOURTH BREAKPOINT */
@media all and (max-width: 1280px) {}

/* FIFTH BREAKPOINT */
@media all and (max-width: 1690px) {}